{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="buttons-container">
    <button class="btn form-btn btn-primary">{{ button_label|default('Сохранить') }}</button>
    <a class="btn form-btn btn-secondary" href="{{ path('library') }}">Назад</a>
</div>
{{ form_end(form) }}
